* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: beige;
}

.d-none {
    display: none;
}

#containerOutput {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    border: 5px solid rgba(240,88,18,255);
    border-radius: 50%;
    color: rgba(10,130,208,255);
    width: 90px;
    height: 90px;
    background-color: rgb(229, 228, 230);
}

#containerResult {
    font-size: 3em;
}

#containerStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 2em;
}

.f_Bold{
    font-weight: bold;
}

button {
    padding: 5px 25px;
    margin: 50px 30px;
}